@import "abstract/constants";
@import "abstract/mixins";
@import "base/buttons";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: $colorBg;
    @include font($size: 1.6rem);
    h1 {
        @include font($size: 5rem, $weight: bold);
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

.start {
    position: absolute;
    background-image: url("../assets/start.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    @include flex();
    flex-direction: column;
    z-index: 2;
    @include transition;
    .start__info {
        margin: 40px auto;
        text-align: center;
    }
}

.start__info {
    @include font($size: 2rem);
}

.none {
    display: none;
}

.header {
    @include flex($justify-content: space-between);
    height: 10vh;
    margin: 0 20px;
}

input {
    width: 50px;
}

.hints {
    @include flex();
}

.hints__word-icon {
    width: 30px;
    height: 30px;
    // position: absolute;
    right: 8px;
    top: 7px;
    cursor: pointer;
    transform: scale(0.8);
    opacity: 0.7;
    @include transition;
}

.main {
    @include flex();
    flex-direction: column;
}

.word-block {
    border: 1px solid rgb(43, 39, 39);
    padding: 5px;
    min-width: 70px;
    min-height: 40px;
    text-align: center;
    flex-grow: 1;
}

.guess__word-block {
    max-width: 120px;
}

.results-sentences {
    width: 80vw;
    height: 60vh;
}

.sentence-result {
    @include flex();
    width: inherit;
}

.sentence-to-guess {
    @include flex();
    margin: 50px 0;
    width: 80vw;
}

.btn-container {
    @include flex();
}

.correct {
    color: $colorCorrect;
}

.incorrect {
    color: $colorIncorrect;
}

/*****************STATS*******************/

.results {
    position: absolute;
    background-image: url("../assets/start.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    @include transition;
    padding: 10px;
    text-align: center;
}

.results-container {
    @include flex();
    flex-direction: column;
    width: 100%;
    max-width: 810px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

.results__word-block {
    background-position: center;
    background-size: cover;
}

.errors {
    margin-bottom: 10px;
    font-size: 24px;
}
.errors-number {
    background-color: tomato;
    color: white;
    border-radius: 30%;
    padding: 0 10px;
    margin-left: 5px;
}

.success {
    margin: 10px 0;
    font-size: 24px;
}

.success-number {
    background-color: seagreen;
    color: white;
    border-radius: 30%;
    padding: 0 10px;
    margin-left: 5px;
}

.results-container .item {
    flex-direction: row;
    border: 0;
    background-color: white;
    margin: 0;
    box-shadow: none;
    padding: 0 0 0 50px;
}

.success-items {
    margin-bottom: 10px;
}

.item {
    border: 1px solid rgb(231, 255, 17);
    border-radius: 25%;
    @include flex();
    flex-direction: column;
    padding: 10px 0;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(226, 251, 255);
    box-shadow: 12px -4px 5px 1px rgba(0, 0, 255, 0.2);
}

.item:hover {
    transform: scale(1.05);
    transition: 0.2s linear;
}

.item--icon {
    width: 34px;
    height: 34px;
    background-image: url("../assets/audioTranslation.png");
    background-size: contain;
    margin-bottom: 5px;
}

.results-container .item .item--icon,
.results-container .item .item--sent,
.results-container .item .item--transcript {
    margin-right: 15px;
}
